@page "/"
@using EnergyMonitor.Client.Components.Grids.All
@using EnergyMonitor.Client.Components.Indicators
@using EnergyMonitor.Client.Models
@using EnergyMonitor.Client.Components.Charts.SystemPower

@inject IConfiguration Configuration

<div class="k-d-flex-col k-justify-content-center">
    <div style="text-align:center">
        <TelerikSwitch OnLabel="Live"
                       OffLabel="Paused"
                       Value="@IsSubscribed"
                       ValueChanged="@((bool val) => OnIsSubscribedChanged(val))"
                       Width="80px"/>

        <TelerikSwitch OnLabel="Saving"
                       OffLabel="No Save"
                       Value="@IsDatabaseEnabled"
                       Width="90px"/>
    </div>
    
    <TelerikTileLayout Columns="5"
                       RowHeight="230px"
                       ColumnWidth="25%"
                       Reorderable="true"
                       Resizable="true"
                       OnResize="ItemResize">
        <TileLayoutItems>
            <TileLayoutItem HeaderText="Solar (PV)" RowSpan="1" ColSpan="1">
                <Content>
                    <GenericDisplay Value="@CurrentSolar" Color="#37B400" Subtitle="Solar (now)" />
                </Content>
            </TileLayoutItem>
            <TileLayoutItem HeaderText="Battery" RowSpan="1" ColSpan="1">
                <Content>
                    <GenericDisplay Value="@CurrentBatteryPowerTotal" Color="#F31700" Subtitle="Battery (now)" />
                </Content>
            </TileLayoutItem>
            <TileLayoutItem HeaderText="Grid" RowSpan="1" ColSpan="1">
                <Content>
                    <GenericDisplay Value="@CurrentGridTotal" Color="#FFC000" Subtitle="Grid (now)" />
                </Content>
            </TileLayoutItem>
            <TileLayoutItem HeaderText="Load" RowSpan="1" ColSpan="1">
                <Content>
                    <GenericDisplay Value="@CurrentLoad" Color="#FFC000" Subtitle="Load (now)" />
                </Content>
            </TileLayoutItem>
            <TileLayoutItem HeaderText="Battery" RowSpan="1" ColSpan="1">
                <Content>
                    <BatteryGauge BatteryChargePercentage="@BatteryChargePercentage"/>
                </Content>
            </TileLayoutItem>
            <TileLayoutItem Class="chart-tile" RowSpan="2" ColSpan="5">
                <HeaderTemplate>
                    <div>
                        <span style="font-size:16px;font-weight:400">
                            Total Generation |  Inverter Mode: @((MarkupString)CurrentInverterMode) | Charging Source Priority: @((MarkupString)ChargerSourcePriority)
                        </span>
                    </div>
                </HeaderTemplate>
                <Content>
                    <SystemPowerChart 
                        BatteryPowerData="@BatteryPowerData"
                        GridPowerData="@GridPowerData"
                        LoadPowerData="@LoadPowerData"
                        SolarPowerData="@SolarPowerData"
                    ></SystemPowerChart>
                </Content>
            </TileLayoutItem>
            <TileLayoutItem RowSpan="3" ColSpan="5">
                <HeaderTemplate>
                    <span style="font-size:16px;font-weight:400">Message History</span>
                </HeaderTemplate>
                <Content>
                    <AllDataGrid Data="@AllData"></AllDataGrid>
                </Content>
            </TileLayoutItem>
        </TileLayoutItems>
    </TelerikTileLayout>
</div>

<style>
    .k-arcgauge-label {
        top: 55px !important;
    }

    .k-tilelayout-item-body.k-card-body.k-overflow-hidden {
        text-align: center;
    }

    .my-button-group {
        float: right;
    }

    .greeting {
        font-weight: 300;
        font-size: 28px;
        line-height: 37px;
        padding: 16px;
    }
</style>