@page "/"
@using EnergyMonitor.Client.Components.Indicators
@using EnergyMonitor.Client.Models

@inject IConfiguration Configuration

<div class="k-d-flex-col k-justify-content-center">
    <div style="text-align:center">
        <TelerikSwitch Value="@IsTimerRunning"
                       ValueChanged="@((bool val) => OnIsTimerRunning(val))"/>
    </div>
    
    <TelerikTileLayout Columns="5"
                       RowHeight="230px"
                       ColumnWidth="25%"
                       Reorderable="true"
                       Resizable="true"
                       OnResize="ItemResize">
        <TileLayoutItems>
            <TileLayoutItem HeaderText="Solar" RowSpan="1" ColSpan="1">
                <Content>
                    <GenericDisplay Value="@SolarPower" Color="#37B400" Subtitle="Watts" />
                </Content>
            </TileLayoutItem>

            <TileLayoutItem HeaderText="Battery" RowSpan="1" ColSpan="1">
                <Content>
                    <GenericDisplay Value="@BatteryPower" Color="#F31700" Subtitle="Watts" />
                </Content>
            </TileLayoutItem>

            <TileLayoutItem HeaderText="Grid" RowSpan="1" ColSpan="1">
                <Content>
                    <GenericDisplay Value="@GridPower" Color="#FFC000" Subtitle="Watts" />
                </Content>
            </TileLayoutItem>

            <TileLayoutItem HeaderText="Load" RowSpan="1" ColSpan="1">
                <Content>
                    <GenericDisplay Value="@LoadPower" Color="#FFC000" Subtitle="Watts" />
                </Content>
            </TileLayoutItem>

            <TileLayoutItem HeaderText="Battery Level" RowSpan="1" ColSpan="1">
                <Content>
                    <BatteryGauge BatteryChargePercentage="@BatteryChargeLevel"/>
                </Content>
            </TileLayoutItem>

            <TileLayoutItem Class="chart-tile" RowSpan="2" ColSpan="4">
                <Content>
                    <TelerikChart @ref="@SystemPowerChartRef" Width="100%" Transitions="false" RenderAs="RenderingMode.Canvas">
                        <ChartTooltip Visible="true" />
                        <ChartLegend Position="ChartLegendPosition.Bottom" />
                        <ChartSeriesItems>
                            <ChartSeries Name="Solar"
                                         Data="@SolarPowerData"
                                         Field="@nameof(ChartMqttDataItem.CurrentValue)"
                                         CategoryField="@nameof(ChartMqttDataItem.Timestamp)"
                                         Type="ChartSeriesType.Line"
                                         Axis="PowerAxis" />
                            <ChartSeries Name="Load"
                                         Data="@LoadPowerData"
                                         Field="@nameof(ChartMqttDataItem.CurrentValue)"
                                         CategoryField="@nameof(ChartMqttDataItem.Timestamp)"
                                         Type="ChartSeriesType.Line"
                                         Axis="PowerAxis" />
                            <ChartSeries Name="Battery"
                                         Data="@BatteryPowerData"
                                         Field="@nameof(ChartMqttDataItem.CurrentValue)"
                                         CategoryField="@nameof(ChartMqttDataItem.Timestamp)"
                                         Type="ChartSeriesType.Line"
                                         Axis="PowerAxis" />
                            <ChartSeries Name="Grid"
                                         Data="@GridPowerData"
                                         Field="@nameof(ChartMqttDataItem.CurrentValue)"
                                         CategoryField="@nameof(ChartMqttDataItem.Timestamp)"
                                         Type="ChartSeriesType.Line"
                                         Axis="PowerAxis" />
                        </ChartSeriesItems>

                        <ChartCategoryAxes>
                            <ChartCategoryAxis BaseUnit="ChartCategoryAxisBaseUnit.Minutes" Type="ChartCategoryAxisType.Date">
                                <ChartCategoryAxisLabels Format="{0:mm ssss}" />
                            </ChartCategoryAxis>
                        </ChartCategoryAxes>

                        <ChartValueAxes>
                            <ChartValueAxis Name="PowerAxis">
                                <ChartValueAxisTitle Text="Power" />
                                <ChartValueAxisLabels Format="{0:N0} W" />
                                <ChartValueAxisMajorGridLines Visible="false" />
                            </ChartValueAxis>
                        </ChartValueAxes>
                    </TelerikChart>
                </Content>
            </TileLayoutItem>

            @* <TileLayoutItem RowSpan="3" ColSpan="5">
                <HeaderTemplate>
                    <span style="font-size:16px;font-weight:400">Battery Charge</span>
                </HeaderTemplate>
                <Content>
                    <TelerikChart @ref="@BatteryPercentageChartRef" 
                                  Width="100%"
                                  Transitions="false" 
                                  RenderAs="RenderingMode.Canvas">
                        <ChartTooltip Visible="true" />
                        <ChartLegend Position="ChartLegendPosition.Bottom" />
                        <ChartSeriesItems>
                            <ChartSeries Name="BatteryChargeSeries"
                                         Data="@BatteryChargeData"
                                         Field="@nameof(ChartMqttDataItem.CurrentValue)"
                                         CategoryField="@nameof(ChartMqttDataItem.Timestamp)"
                                         Type="ChartSeriesType.Area"
                                         Axis="PowerAxis" />
                        </ChartSeriesItems>
                        <ChartCategoryAxes>
                            <ChartCategoryAxis BaseUnit="ChartCategoryAxisBaseUnit.Minutes" Type="ChartCategoryAxisType.Date">
                                <ChartCategoryAxisLabels Format="{0:mm ssss}" />
                            </ChartCategoryAxis>
                        </ChartCategoryAxes>
                        <ChartValueAxes>
                            <ChartValueAxis Name="BatteryChargeSeries">
                                <ChartValueAxisTitle Text="Charge" />
                                <ChartValueAxisLabels Format="{0:P0}" />
                            </ChartValueAxis>
                        </ChartValueAxes>
                    </TelerikChart>
                </Content>
            </TileLayoutItem> *@
            
            <TileLayoutItem HeaderText="Info" RowSpan="2" ColSpan="1">
                <Content>
                    <text>Inverter Mode: @InverterMode</text>
                    <br />
                    <text>Charging Priority: @ChargerSourcePriority</text>
                    <br />
                    <text>Voltage</text>
                    <br />
                    <text>Battery: @BatteryVoltage</text>
                    <br/>
                    <text>Back To Battery: @BackToBatteryVoltage</text>
                    <br/>
                    <text>Solar Panels: @Pv1Voltage</text>
                    <br/>
                    <text>Bus: @BusVoltage</text>
                    <br/>
                    <text>Output: @OutputVoltage</text>
                    <br/>
                    <text>Frequency</text>
                    <br />
                    <text>Grid: @GridFrequency</text>
                    <br/>
                    <text>Inverter: @OutputFrequency</text>
                </Content>
            </TileLayoutItem>

            <TileLayoutItem RowSpan="2" ColSpan="4">
                <HeaderTemplate>
                    <span style="font-size:16px;font-weight:400">Message History</span>
                </HeaderTemplate>
                <Content>
                    @foreach(var item in Log)
                    {
                        <text>@item.Value - @item.Timestamp - @item.Topic</text>
                        <br/>
                    }
                </Content>
            </TileLayoutItem>
        </TileLayoutItems>
    </TelerikTileLayout>
</div>

<style>
    .k-arcgauge-label {
        top: 55px !important;
    }

    .k-tilelayout-item-body.k-card-body.k-overflow-hidden {
        text-align: center;
    }

    .my-button-group {
        float: right;
    }

    .greeting {
        font-weight: 300;
        font-size: 28px;
        line-height: 37px;
        padding: 16px;
    }
</style>